img.hvlogo {width: 300px; margin-top:1em; margin-left: -1em;}
img.hvlogo-small {width: 300px; margin-top:1em;margin-left:-0.3em;}
nav {margin-top: 1em;}

p.introtext {text-align:center; line-height:1.1em;}
p.bigtext {font-size:1.6em; color:red;}
div.text-center {text-align:center;}

div.yellow-bg {background: #F7F8E0;}
div.light-green-bg {background:#BCF5A9;}
div.dark-green-bg {background:#0B610B;}


div.closing-line p {font-size: 80%;}

div.home-left-content {padding: 0 2em; }

p.footer-text {font-size:80%; color:#fff; text-align:center;}
