---
layout: default
---

<div class="row show-for-medium-up">
	<div class="columns">
		<ul class="home-slideshow" data-orbit>
	    	{% for slideshow in site.data.home-slideshow %}
		    <li>
		    	<img src="{{ site.baseurl }}/{{ slideshow.link }}" alt="{{ slideshow.alt }}" />
		    	<div class="orbit-caption">{{ slideshow.caption }}</div>
		    </li>
	    	{% endfor %}
	  	</ul>
	</div>
</div>

<div class="row show-for-small-only">
	<div class="columns">
    	<img src="http://placehold.it/640x520" />
    </div>
</div>

<div class="row">
	<div class="columns">
		{% include page-home-content.html %}
	</div>
</div>

<div class="row">
	<div class="columns">
	<br>
		<div class="panel callout text-centered">
			<h4>Gần 20 năm cung cấp dịch vụ quảng cáo, công ty Hà Việt<br>luôn đáp ứng tốt nhất yêu cầu của khách hàng.</h4>
			<p>Bất cứ khi nào bạn nảy sinh ý tưởng, hãy gọi cho chúng tôi.</p>
		</div>
	</div>
</div>
