---
layout: default
---
<div class="row collapse yellow-bg">
	<div class="medium-7 medium-push-5 columns">
		{% include slideshow-small.html %}
	</div>

	<div class="medium-5 medium-pull-7 columns">
		<h3>San pham moi</h3>
		<p>Mot doan viet gioi thieu san pham moi</p>
		<p><a href="#" class="button small">Xem chi tiet</a>
	</div>
</div>

<div class="row collapse">
	{% include sp-block-list.html %}
</div>

<div class="row collapse">
	<p class="introtext bigtext">Viet mot doan ve tinh san sang cho moi nhu cau quang cao.</p>
</div>

{% include spdv-content.html %}
