---
layout: default
---

<div class="row collapse">
  <img src="http://placehold.it/1000x300" />
</div>
<br><br>
<div class="row collapse">
	<div class="medium-9 large-7 columns">
		{% include gt-content-top.html %}
	</div>

	<div class="medium-3 large-5 columns">
		<div class="row collapse">
			<div class="medium-11 medium-offset-1 columns">
				{% include gt-content-sidebar.html %}
			</div>
		</div>
	</div>
</div>

<div class="row collapse">
  <p class="introtext bigtext">Mot doan text the hien su nang dong cua cty</p>
</div>

<div class="row collapse">
  <div class="small-12 columns">
    {% include slideshow-big.html %}
  </div>
</div>
