---
layout: default
---

<!-- hien thi tren man hinh trung binh tro len -->
<div class="row show-for-medium-up">
	<div class="medium-4 columns">
		<h3>San pham moi</h3>
		<p>Doan gioi thieu san pham moi</p>
		<p><a href="#" class="button small">Xem chi tiet</a></p>
	</div>

	<div class="medium-8 columns">
		<img src="http://placehold.it/800x400" />
	</div>
</div>

<div class="row">
	<div class="columns">
	<br>
		<div class="panel callout">
		<h3 class="subheader text-centered">Tap trung dau tu xay dung co so ha tang<br>cho quang cao ngoai troi la dinh huong lau dai cua Haviet.</h3>
		</div>
	</div>
</div>

<!-- hiển thị trên màn hình lớn -->
<div class="row show-for-medium-up">
	<div class="columns">
		{% include sp-bigblock-list.html %}
	</div>
</div>

<!-- hiển thị trên màn hình nhỏ -->
<div class="row show-for-small-only">
	<div class="columns">
		<p><img src="http://placehold.it/640x520" /></p>
		<br>
		{% include sp-list.html %}
	</div>
</div>

<div class="row">
	<div class="columns">
	<br>
		<div class="panel callout">
		<h3 class="subheader text-centered">Cac vi tri quang cao duoc duy tu va ve sinh thuong xuyen. Dam bao quang cao cua khach hang luon duoc nhin thay trong tinh trang tot nhat.</h3>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns">
		{% include dv-content.html %}
	</div>

</div>
