<br>
<ul class="small-block-grid-2 medium-block-grid-3">
	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong hanh chinh nhan su</h5>
		<p>blah blah</p>
	</li>

	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong dau tu phat trien</h5>
		<p>blah blah</p>
	</li>

	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong cham soc khach hang</h5>
		<p>blah blah</p>
	</li>

	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong thiet ke</h5>
		<p>blah blah</p>
	</li>

	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong ke toan</h5>
		<p>blah blah</p>
	</li>

	<li>
		<img src="http://placehold.it/320x180" />
		<h5>Phong ban hang dich vu</h5>
		<p>blah blah</p>
	</li>


</ul>