<div class="row collapse">
	<div class="medium-6 medium-push-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 medium-pull-6 columns">
		<p>dich vu sua chua nhanh</p> <!-- ============================== sua chua nhanh -->
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 columns">
		<p>dich vu hoan doi vi tri</p> <!-- ============================== hoan doi vi tri -->
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 medium-push-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 medium-pull-6 columns">
		<p>Ho tro thiet ke</p> <!-- ============================== ho tro thiet ke -->
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 columns">
		<p>Dat cho quang cao</p> <!-- ============================== dat cho quang cao -->
	</div>
</div>
