<div class="row collapse">
	<div class="medium-6 medium-push-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 medium-pull-6 columns">
		<p class="lead">Dịch vụ sửa chữa nhanh</p> <!-- ============================== sua chua nhanh -->
		<p>blah blah...</p>
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 columns">
	<br><br>
		<p class="lead text-right">Dịch vụ hoán đổi vị trí</p> <!-- ============================== hoan doi vi tri -->
		<p>blah blah...</p>
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 medium-push-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 medium-pull-6 columns">
	<br><br>
		<p class="lead">Hỗ trợ thiết kế</p> <!-- ============================== ho tro thiet ke -->
		<p>Điều chỉnh kích thước, tư vấn màu sắc, vật liệu in phù hợp nhất với quảng cáo của khách hàng.</p>
	</div>
</div>

<div class="row collapse">
	<div class="medium-6 columns">
		<img src="http://placehold.it/640x250" />
	</div>

	<div class="medium-6 columns">
	<br><br>
		<p class="lead text-right">Đặt chỗ quảng cáo</p> <!-- ============================== dat cho quang cao -->
		<p>Thỏa thuận đặt chỗ trước từ 6 tháng trở lên được giảm giá 20%.</p>
	</div>
</div>
