<div class="row collapse closing-line light-green-bg">
	<div class="small-6 medium-3 columns">
		<p><strong>Office:</strong><br>
		25/D3, Vuon Dao Villa,<br>
		Lac Long Quan Rd,<br>
		Tay Ho Dist, Hanoi</p>
	</div>

	<div class="small-6 medium-3 columns">
		<p><strong>Hotline:</strong><br>
		+84 04 3823 8643<br>
		+84 04 3829 3519</p>
		<p><strong>Sales Dept.</strong><br>
		+84 04 3829 3519 <strong>Ext. 19</strong></p>

	</div>

	<div class="small-6 medium-3 columns end">
		<p><strong>Customer Support:</strong><br>
		info@haviet.com</p>
	</div>

</div>

<footer>
	<div class="row collapse dark-green-bg">
		<div class="medium-2 columns small-centered">
			<p class="footer-text">&copy;2014. Haviet Corp.</p>
		</div>
	</div>
</footer>


<!-- script -->
<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

