<!-- hide on small sreen -->
<div class="show-for-medium-up">
<div class="row collapse closing-line light-green-bg">
	<br><br>
	<div class="medium-10 medium-centered columns">
		<div class="row collapse">
			<div class="medium-4 columns text-center">
				<p><img class="footer-icon" src="{{ site.baseulr }}/static-on-foundation/img/icon-address.svg" /></p>
				<p><strong>Office:</strong><br>
				25/D3, Vuon Dao Villa,<br>
				Lac Long Quan Rd, Phu Thuong,<br>
				Tay Ho Dist, Hanoi</p>
			</div>
		
			<div class="medium-4 columns text-center">
				<p><img class="footer-icon" src="{{ site.baseulr }}/static-on-foundation/img/icon-phone.svg" /></p>
				<p><strong>Hotline:</strong><br>
				(+84 04) 3823 8643 - (+84 04) 3829 3519</p>
				<p><strong>Sales Dept.</strong><br>
				+84 04 3829 3519 <strong>Ext. 19</strong></p>
		
			</div>
		
			<div class="medium-4 columns end text-center">
				<p><img class="footer-icon" src="{{ site.baseulr }}/static-on-foundation/img/icon-email.svg" /></p>
				<p><strong>Customer Support:</strong><br>
				info@haviet.com</p>
			</div>
		</div>
	</div>
</div>
</div>

<!-- show for small screen only -->
<div class="show-for-small-only">
	<div class="row collapse light-green-bg text-center">
		<br><br><p><strong>Office:</strong><br>
			25D3, Vuon Dao Villa,<br>
			Lac Long Quan Rd., Phu Thuong,<br>Tay Ho Dist., Hanoi<br>
			<a href="#">Find us on Google maps</a>
		</p>
		<p><strong>Hotline:</strong><br>
			(+84 04) 3823 8643 - (+84 04 3829 3519)<br>Sales Dept.<br>(+84 04) 3829 3519 Ext.19
		</p>
		<p><strong>Customer Support:</strong> info@haviet.com</p>
	</div>
</div>

<footer>
	<div class="row collapse dark-green-bg">
		<br><p class="footer-text">&copy;2014. Havico Corp. All right reserved.</p>
	</div>
</footer>


<!-- script -->
<script src="{{ site.baseurl }}/js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

