<!-- hiển thị trên màn hình trung bình trở lên -->
<div class="row closing-line show-for-medium-up">
	<div class="columns">
	<br><br>
	<div class="row footer-bg light-green-bg collapse medium-centered clearfix">

		<div class="medium-4 columns text-centered">
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-address.svg" /></p>
			<p><strong>Office:</strong><br>
			25/D3, Vuon Dao Villa,<br>
			Lac Long Quan Rd, Phu Thuong,<br>
			Tay Ho Dist, Hanoi</p>
		</div>
	
		<div class="medium-4 columns text-centered">
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-phone.svg" /></p>
			<p><strong>Hotline:</strong><br>
			(+84 04) 3823 8643 - (+84 04) 3829 3519<br>
			<strong>Sales Dept.</strong><br>
			+84 04 3829 3519 <strong>Ext. 19</strong></p>
	
		</div>
	
		<div class="medium-4 columns end text-centered">
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-email.svg" /></p>
			<p><strong>Customer Support:</strong><br>
			info@haviet.com</p>
			<a href="#" data-reveal-id="lienhe" class="tiny button">Reach us!</a>
	
			<div id="lienhe" class="reveal-modal large" data-reveal>
				{% include lienhe.html %}
			</div>
		</div>

	</div>
	</div>
</div>

</div>

<!-- chỉ hiển thị trên màn hình nhỏ -->
<div class="show-for-small-only">
	<div class="row">
	<div class="columns closing-line text-centered">
		<div class="footer-bg light-green-bg">
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-address.svg" /></p>
			<p><strong>Office:</strong><br>25D3, Vuon Dao Villa,<br>Lac Long Quan Rd., Phu Thuong,<br>Tay Ho Dist., Hanoi<br>
			<a href="#">Find us on Google maps</a>
			</p>
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-phone.svg" /></p>
			<p><strong>Hotline:</strong><br>(+84 04) 3823 8643 - (+84 04 3829 3519)<br>
			<strong>Sales Dept.</strong><br>(+84 04) 3829 3519 Ext.19
			</p>
			<p><img class="footer-icon" src="{{ site.baseurl }}/sdk-img/icon-email.svg" /></p>
			<p><strong>Customer Support:</strong><br>info@haviet.com</p>
		</div>
	</div>
	</div>
</div>

<footer class="site-footer">
  <div class="row">
  	<div class="columns fbg">
  		{% if site.description & site.admin-email %}<p><small>&copy; Copyright. {{ site.description }} - {{ site.admin-email }}</small></p>{% endif %}
  	</div>
  </div>
</footer>

<script src="{{ site.baseurl }}/sdk-js/vendor/jquery.js"></script>
<script src="{{ site.baseurl }}/sdk-js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
