<header>
	<div class="row collapse">
		<div class="large-12 columns">
    		<h1><a class="site-title" href="{{ site.baseurl }}/"><img class="hvlogo" src="{{ site.baseurl }}/hvlogo.svg" /></a></h1>
    	</div>
    </div>

	<div class="row collapse">
		<div class="small-12 columns">
			<nav class="top-bar" data-topbar>
			  <ul class="title-area">
			    <li class="name">
			      <h1><a href="#">Havico Corp.</a></h1>
			    </li>
			     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
			  </ul>

			  <section class="top-bar-section">
			    <!-- Right Nav Section -->
			    <ul class="right">
			      <li class="has-dropdown">
			        <a href="#">San pham tieu bieu</a>
			        <ul class="dropdown">
			          <li><a href="#">Nha cho bus</a></li>
			          <li><a href="#">Tram trung chuyen</a></li>
			          <li><a href="#">Bien dai phan cach</a></li>
			          <li><a href="#">Bien cot quay</a></li>
			          <li><a href="#">Nha ve sinh cong cong</a></li>
			          <li><a href="#">Bien tam lon</a></li>
			        </ul>
			      </li>
			    </ul>

			    <!-- Left Nav Section -->
			    <ul class="left">
			      <li><a href="#">Gioi thieu</a></li>
			      <li><a href="#">San pham - Dich vu</a></li>
			      <li><a href="#">Khach hang - Doi tac</a></li>
			      <li><a href="#">Lien he</a></li>
			    </ul>
			  </section>
			</nav>
		</div>
	</div>
</header>