<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- foundation -->
    <script src="{{ site.baseurl }}/{{ site.foundation }}/js/vendor/modernizr.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.foundation }}/css/foundation.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.foundation }}/css/custom.css">
    <!-- nivoslider -->
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.nivo }}/themes/default/default.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.nivo }}/themes/light/light.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.nivo }}/themes/dark/dark.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.nivo }}/themes/bar/bar.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ site.baseurl }}/{{ site.nivo }}/nivo-slider.css">

</head>
