<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/600x300" />
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <br><h3>Khach hang danh gia ve dich vu cua cong ty</h3> <!-- ============================ khach hang danh gia -->
    <p>blah blah</p>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/600x320" />
  </div>
  <div class="medium-6 columns">
    <div class="row collapse">
      <div class="medium-11 medium-offset-1 columns">
        <br><h3>Hop tac voi AC Nielsen tieu chuan hoa viec danh gia vi tri quang cao</h3> <!-- ============================ hop tac abc -->
        <p>blah blah</p>
      </div>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/600x400" />
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <br><h3>Ky thoa thuan voi doi tac ve viec ve sinh dinh ky cac vi tri quang cao</h3> <!-- ============================ ky thoa thuan -->
    <p>blah blah</p>
  </div>
</div>