<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
  <br><br>
    <h4>Danh gia cua khach hang ve san pham</h4> <!-- ====================================================== pull -->
    <p>blah blah</p>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 columns text-right">
  <br><br>
    <h4>Haviet hop tac voi AcNeilsen</h4>
    <p>blah blah</p>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
  <br><br>
    <h4>Ky ket thoa thuan hop tac</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
  </div>
</div>
