<div class="row">
<div class="columns">
<h2>Lien he voi Ha Viet</h2>
<p class="lead">Neu ban co vuong mac ve san pham, dich vu,</p>
<p>xin hay dung form duoi day de lien he voi chung toi. Moi y kien se duoc phan hoi som nhat co the.</p>
</div>
</div>

<form>
	<div class="row">
		<div class="columns">
			<input type="text" placeholder="ten ban" />
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<input type="text" placeholder="email" />
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<label>Hay chon bo phan chuc nang ban muon lien lac
				<select>
					<option value="phong cskh">Phong cham soc khach hang</option>
					<option value="phong kd">Phong kinh doanh - dich vu</option>
					<option value="phong dt">Phong Dau tu - Phat trien</option>
					<option value="phong tk">Phong Thiet ke</option>
					<option value="phong tk">Phong Ke toan</option>
					<option value="phong tk">Phong Hanh chinh - nhan su</option>
				</select>
			</label>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<input type="text" placeholder="tieu de" />
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<textarea type="text" placeholder="noi dung can gui"></textarea>
		</div>
	</div>

	<div class="row">
		<div class="columns">
			<a href="#" class="button small expand">Gui lien he</a>
		</div>
	</div>

</form>

<a class="close-reveal-modal">&#215;</a>
