<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
    <br>
    <h4>Biển tấm lớn</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/billboard/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 columns text-right">
    <br><br>
    <h4>Trạm trung chuyển bus</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/bus-station/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
    <br><br>
    <h4>Nhà chờ bus</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/bus-shelter/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 columns text-right">
    <br><br>
    <h4>Biển dải phân cách</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/lightbox/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
    <br><br>
    <h4>Biển cột quay</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/rotation/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 columns text-right">
    <br><br>
    <h4>Kiosk bán hàng đa năng</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/kiosk/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/640x350" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns">
    <br><br>
    <h4>Các loại quảng cáo khác</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/others/" class="button alert tiny">Xem chi tiết</a>
  </div>
</div>
