<div class="row collapse" data-equalizer>
  <div class="medium-6 medium-push-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/bb02.jpg" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns bg03" data-equalizer-watch>
    <br>
    <h4>Biển tấm lớn</h4> <!-- =============================================================== pull billboard -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/haviet-billboard/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/ttt03.jpg" />
  </div>
  
  <div class="medium-6 columns text-right bg04" data-equalizer-watch>
    <br><br>
    <h4>Trạm trung chuyển bus</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/bus-station/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 medium-push-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/bsh02.jpg" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns bg01" data-equalizer-watch>
    <br><br>
    <h4>Nhà chờ bus</h4> <!-- =============================================================== pull bus shelter -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/bus-shelter/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/lbx02.jpg" />
  </div>
  
  <div class="medium-6 columns text-right bg02" data-equalizer-watch>
    <br><br>
    <h4>Biển dải phân cách</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/lightbox/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 medium-push-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/vscc01.jpg" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns bg03" data-equalizer-watch>
    <br><br>
    <h4>Nhà vệ sinh công cộng</h4> <!-- =============================================================== pull public toilete -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/rotation/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/kiosk01.jpg" />
  </div>
  
  <div class="medium-6 columns text-right bg04" data-equalizer-watch>
    <br><br>
    <h4>Kiosk bán hàng đa năng</h4>
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/kiosk/" class="button small">Xem chi tiết</a>
  </div>
</div>

<div class="row collapse" data-equalizer>
  <div class="medium-6 medium-push-6 columns" data-equalizer-watch>
    <img src="{{ site.baseurl }}/{{ site.imgs }}/homepage/oths01.jpg" />
  </div>
  
  <div class="medium-6 medium-pull-6 columns bg01" data-equalizer-watch>
    <br><br>
    <h4>Các loại quảng cáo khác</h4> <!-- =============================================================== pull -->
    <p>blah blah</p>
    <a href="{{ site.baseurl }}/sanpham/others/" class="button small">Xem chi tiết</a>
  </div>
</div>
