<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/600x300" />
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <h3>Sua chua nhanh</h3> <!-- ============================ sua chua nhanh -->
    <p>blah blah</p>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/600x320" />
  </div>
  <div class="medium-6 columns">
    <div class="row collapse">
      <div class="medium-11 medium-offset-1 columns">
        <br><h3>Hoan doi vi tri</h3> <!-- ============================ hoan doi vi tri -->
        <p>blah blah</p>
      </div>
    </div>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 medium-push-6 columns">
    <img src="http://placehold.it/600x400" />
  </div>
  <div class="medium-6 medium-pull-6 columns">
    <br><h3>Ho tro thiet ke</h3> <!-- ============================ ho tro thiet ke -->
    <p>blah blah</p>
  </div>
</div>

<div class="row collapse">
  <div class="medium-6 columns">
    <img src="http://placehold.it/600x250" />
  </div>
  <div class="medium-6 columns">
    <div class="row collapse">
      <div class="medium-11 medium-offset-1 columns">
        <br><h3>Dat cho quang cao</h3> <!-- ============================ dat cho quang cao -->
        <p>blah blah</p>
      </div>
    </div>
  </div>
</div>