<ul class="tabs" data-tab>
  <li class="tab-title active"><a href="#panel2-1">Thiết kế điển hình</a></li>
  <li class="tab-title"><a href="#panel2-2">Sơ đồ vị trí</a></li>
  <li class="tab-title"><a href="#panel2-3">Hình ảnh thực tế</a></li>
</ul>
<div class="tabs-content">
  <div class="content active" id="panel2-1">
    {% include billboard-content/tab1.html %}
  </div>
  <div class="content" id="panel2-2">
    {% include billboard-content/tab2.html %}
  </div>
  <div class="content" id="panel2-3">
    {% include billboard-content/tab3.html %}
  </div>
</div>
