<table class="responsive" style="width:100%;">
  <thead>
    <tr>
      <th>Mã số</th>
      <th>Mô tả vị trí</th>
      <th>Kích thước</th>
      <th width="40px">E.</th>
      <th width="40px">A.</th>
    </tr>
  </thead>
  <tbody>
  	{% for bb in site.data.list-billboard %}
    <tr>
      <td><a href="{{ site.baseurl }}/sanpham/{{ bb.codename }}">{{ bb.codename }}</a></td>
      <td>{{ bb.description }}</td>
      <td>{{ bb.size }}</td>
      <td class="bb_{{ bb.electric }}"> </td>
      <td class="bb_{{ bb.available }}"> </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
