/* custom site css */

header { background: #0B610B; }
.closing-line p, p.contact-line { font-size: 80%; }
.footer-bg { padding: 2em 0 1em; }
.text-centered { text-align: center; }
.text-right { text-align: right; }
.light-green-bg { background: #D8F6CE; }
.dark-green-bg { background: #0B610B; }
.footer-icon { width: 48px; }
