/* custom site css */

header img { width:280px; margin: 0.5em 0 0.2em -0.2em; }
.closing-line p, p.contact-line { font-size: 80%; }
.footer-bg { padding: 2em 0 1em; }
.text-centered { text-align: center; }
.text-right { text-align: right; }
.light-green-bg { background: #D8F6CE; }
.dark-green-bg { background: #0B610B; }
.footer-icon { width: 48px; }
.footer-bg { color: #0B3B0B; }
.reach-us { margin-top:3px; }
.fbg { background: url('sdk-img/footer-bg-01.png') repeat-x top left; }
.ctc { border-left: 1px solid #B4D5A8; border-right: 1px solid #B4D5A8; }

.bb_true { background: orange; }
.bb_false { background: green; }
