<!DOCTYPE html>
<html class="no-js" lang="en">
<!-- phần định nghĩa trên đầu trang index.html ở thư mục gốc gọi đến layout này. -->
<!-- tất cả các nội dung có trong thư mục _includes đều có thể gọi từ bất kỳ đâu mà không cần xác định đường dẫn -->

  {% include head.html %}

    <body>
	<!-- lấy nội dung từ file header.html -->
    {% include header.html %}

	<!-- hiển thị nội dung của trang xác định dùng layout này -->
    {{ content }}

	<!-- lấy nội dung từ file footer.html -->
    {% include footer.html %}

    </body>
</html>